---
import { site } from '../data/site';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalPath?: string;
}

const {
  title = site.title,
  description = site.description,
  image = site.image,
  canonicalPath = Astro.url.pathname,
} = Astro.props;

const canonical = new URL(canonicalPath, Astro.site);
const imageUrl = new URL(image, Astro.site);
---

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical.toString()} />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonical.toString()} />
<meta property="og:image" content={imageUrl.toString()} />
<meta property="og:locale" content={site.locale} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageUrl.toString()} />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;600;900&display=swap"
  rel="stylesheet"
/>
{
  import.meta.env.PROD && (
    <script
      is:inline
      set:html={`(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','${site.gtmId}');`}
    />
  )
}
<script
  type="application/ld+json"
  is:inline
  set:html={JSON.stringify({
    '@context': 'https://schema.org/',
    '@type': 'Person',
    name: 'Dr. Elena Luiza Luca',
    url: 'https://www.drluca.dental/',
    image: 'https://drluca.dental/assets/img/dr-luca-profile.png',
    sameAs: ['https://www.instagram.com/dr.luizaluca/', 'https://www.linkedin.com/in/luizaluca/'],
    jobTitle: 'Medic Dentist. Medic Specialist Pedodonție',
    worksFor: { '@type': 'Organization', name: 'Dr. Elena Luiza Luca' },
  })}
/>
